
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

html{
    background: url("dark computer.jpg") fixed;

}

html * {
    font-family: Verdana, 'Raleway', sans-serif;
    background-size: 100% 100%;

}

#home {
    color: white;
    text-align: center;
    font-size: 3vh;
    height: 92vh;
    padding: 50px;
    border-bottom: solid skyblue 1px;
}



/* professional photo */
img.prof {
    height: 55vh;
    width:auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid skyblue 2px;
}

/* linkedin logo */
img.linkedin_logo {
    height: 8vh;
    width: auto;
    margin-top: -2vh;
}


#About {
    padding: 3vh;
    height: 100vh;
    color: white;
    border-bottom: solid skyblue 1px;
    border-top: solid skyblue 1px;
}

#About li{
    font-size: 2vh;
    margin-top: 2vh;
}

#About .aboutme{
    text-align: left;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

#About .aboutme h3 {
    font-size: 35px;
}

#About .aboutme p{
    font-size: 2vh;
    margin-bottom: 4vh;

}

#About h2 {
    text-align: center;
    font-size: 35px;
}


#experience {
    height: 100vh;
    padding: 3vh;
    color: white;
    border-bottom: solid skyblue 1px;
    border-top: solid skyblue 1px;
}

#experience h2 {
    text-align: center;
    font-size: 3vh;
}



#experience .xp{
    display: inline-block;
}

#experience .xp img#mssa {
    height:5vh;
    width: auto;
    float: left;
    margin-left: -14vw;
    margin-top: 10vh;
    overflow: hidden;
}

#experience .xp img#erau {
    height: 5vh;
    width: auto;
    margin-left: 16vw;
    float: left;
    margin-top: 5.5vh;
    overflow: hidden;
}

#experience .xp img#usmc{
    margin-left: 13vw;
    height: 20vh;
    width: auto;
    float: left;
    margin-top: 1vh;
}

#experience .xp img#dli{
    margin-left: 16vw;
    height: 20vh;
    width: auto;
    float: left;
    margin-top: 1vh;
}

#experience .tbl {
    text-align: center;
    border-collapse: collapse;
    margin-right: 10vw;
    margin-left: 10vw;
}


#experience .tbl a{
    text-decoration: none;
    color: skyblue;
}

#experience .tbl th{
    font-size: 2vh;
}

#experience .tbl td {

    vertical-align: top;
    height: 75px;
    width: 100px;
}



#Thanks {
    text-align: center;
    font-size: 4vh;
    height: 90vh;
    color: white;
    padding: 3vh;
//background: red; /* For browsers that do not support gradients */
//background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
//background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
//background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
//background: linear-gradient(to right, red , yellow); /* Standard syntax */
    border-bottom: solid skyblue 2px;
    border-top: solid skyblue 1px;

}

.ty h2 {
    margin-top: 15vh;
    font-size: 5vh;
}
div.footer {

    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    margin-top: 20vh;
}


.ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.titles {
    font-style: italic;
    display: inline;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    color: white;

}

.titles ul li{
    display: inline;
    font-size: 5vh;
    text-align: center;
    list-style-type: disc;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.ul li {
    float: left;
    font-size: 24px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

li a.link:hover {
    background-color: darkgoldenrod;
    color: cyan;
    -webkit-tap-highlight-color: #aa0000;
}

li a.link.active {
    color: cyan;
    background-color: darkgoldenrod;
}

