
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


html * {
    font-family: Verdana, 'Raleway', sans-serif;
    background-color: transparent;
}

#home {
    color: white;
    text-align: center;
    font-size: 3vh;
    height: 92vh;
    padding: 50px;
    border-bottom: solid black 1px;
    background: url(dark.jpg);
    background-size: 100% 100%;
}



/* professional photo */
img.prof {
    height: 55vh;
    width:auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid skyblue 2px;
}

/* linkedin logo */
img.linkedin_logo {
    height: 8vh;
    width: auto;
    margin-top: -2vh;
}


#About {
    background: burlywood;
    padding: 1vh;
    height: 90vh;
    color: black;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}

#About .aboutme{
    text-align: left;
    margin-left: 20%;
}

#About .aboutme h3 {
    font-size: 35px;
}

#About .aboutme p{
    font-size: 3vh;
    margin-bottom: 4vh;
}

#About h2 {
    text-align: center;
    font-size: 35px;
}


#experience {
    background: skyblue;
    padding: 50px;
    height: 90vh;
    color: black;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}

#experience h2 {
    text-align: center;
    font-size: 3vh;
}

#experience img#dli {
    height: 20vh;
    width: auto;
    float: left;
    margin-top: 4%;
}

#experience .dli-list #dli {
    margin-left: 3vh;
}

#experience .dli-list #sigint {
    margin-left: 3vh;
}

#experience .dli-list #student {
    margin-left: 3vh;
}

#experience img#usmc {
    height: 20vh;
    width: auto;
    float: left;
    margin-top: 1vh;
}

#experience img#mssa {
    height:8vh;
    width: auto;
    float: left;
    margin-left: -25vh;
    margin-top:7%;
    padding:0;
}

#experience img#erau {
    height: 5vh;
    width: auto;
    float: left;
    margin-top: 5%;
}

#experience .dli-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 13%;
    font-variant: small-caps;
}

#experience .dli-list a {
    color: darkblue;
    text-decoration: none;
    padding: 0;
    margin: 0;

}

.ty {
    margin-top: 1vh;
    font-size: 3vh;
}

#Thanks {
    text-align: center;
    font-size: 4vh;
    height: 90vh;
    color: white;
    padding: 3vh;
//background: red; /* For browsers that do not support gradients */
//background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
//background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
//background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
//background: linear-gradient(to right, red , yellow); /* Standard syntax */
    border-bottom: solid black 2px;
    background: url("dark computer.jpg");
    background-size: 100% 100%;
    border-top: solid black 1px;

}

div.footer {

    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    margin-top: 23vh;
}


.ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.titles {
    font-style: italic;
    display: inline;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    color: white;

}

.titles ul li{
    display: inline;
    font-size: 5vh;
    text-align: center;
    list-style-type: disc;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.ul li {
    float: left;
    font-size: 24px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}

li a.link:hover {
    background-color: darkgoldenrod;
    color: cyan;
    -webkit-tap-highlight-color: #aa0000;
}

li a.link.active {
    color: cyan;
    background-color: darkgoldenrod;
}

